.Portfolio {
    padding-top: 6%;
    padding-right: 10%;
    padding-left: 10%;
}

.final2 {
    height: 100%;
}

.CaseStudy3 {
    float: left;
    width: 50%;
    padding: 10px;
}
.CaseStudy4 {
    width: 50%;
    float: right;
    padding: 10px;
}