.Portfolio {
    padding-top: 6%;
    padding-right: 10%;
    padding-left: 10%;
}

.Mockups2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    height: auto;
}

.CaseStudy2 img {
    width: 100%;
    margin: auto;
    height: auto;
}

.Expectation img {
    width: 100%;
    height: auto;
}

.Close {
    display: inline-flex;
}

.ScreenPreview {
    width: 40%;
    height: auto;
    margin-right: 20px;
    float: left;
}

.Process p {
    margin-top: 0;
}

.CaseStudy2 button {
    background-color: transparent;
}