.Navbar {
  height: 50px;
}

.Navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-transform: uppercase;
  padding: 15px;
  font-size: 14px;
  letter-spacing: 2px;
}

li {
  padding-left: 20px;
  float: right;
}

.Name {
  float: left;
  font-weight: bold;
}
