.Portfolio {
    padding-top: 6%;
    padding-right: 10%;
    padding-left: 10%;
}

.Mockups4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    height: auto;
}

.CaseStudy4 img {
    width: 100%;
    margin: auto;
    height: auto;
}

.Expectation img {
    width: 100%;
    height: auto;
}

.Preview img {
    width: 50%;
    height: auto;
}

.CaseStudy4 button {
    background-color: transparent;
}