.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    height: auto;
    padding-bottom: 40px;
}

.Footer li {
    list-style: none;
}

.Footer a {
    color: black;
}